.m-hero-title {
  background: radial-gradient(circle, #80ffc1 0%, #ff6161 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: animatedGradient 2s infinite ease;
  animation-direction: alternate;
  letter-spacing: 0.4px;
  line-height: 1.3;
  font-size: 1.750rem;
  font-weight: 700;
  margin: 0 0 15px;

  @include respond-to('medium') {
    letter-spacing: 0.5px;
    font-size: 3.250rem;
  }

  &.bigger {
    letter-spacing: 0.5px;
    font-size: 2rem;

    @include respond-to('medium') {
      letter-spacing: 0.8px;
      font-size: 3.250rem;
      margin-bottom: 10px;
    }
  }
}
@keyframes animatedGradient {
  from {
    background-size: 100%;
  }

  to {
    background-size: 250%;
  }
}
