/** Global styles */

html {
  font-size: 82.5%;
  scroll-padding-top: 67px
}

body {
  font: 400 1em / 1.5em "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: var(--primary-foreground-color);
  font-size: 1rem;
  overflow-x: hidden;
  background-color: var(--background-color);
  padding-top: var(--announcement-bar-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 transition:  padding-top linear 0.2s, background-color 0.25s cubic-bezier(.02,.01,.47,1);

  &.share-menu-displayed {
    padding-bottom: 45px;

    @include respond-to('medium') {
      padding-bottom: 0;
    }
  }
}

.main-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

p {
  line-height: 1.5;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
}

.tippy-popper * {
  text-align: left !important;
}

.medium-zoom-overlay {
  background-color: var(--background-color) !important;
}

.medium-zoom-overlay,
.medium-zoom-image {
  z-index: 5;
}
.artalk {
  margin-bottom: 2em;
}

.atk-copyright {
  display: none !important;
}
