/* PrismJS - used for code highlighting */

[class*="language-"] ::selection {
  color: #000;
  text-shadow: none;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.namespace {
  opacity: 0.7;
}

/* Default colors (Light mode) */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  --color: #33a;
  --textShadow: #fff;
  --comment: #6e6e6e;
  --punctuation: #4e4e4e;
  --property: #905;
  --operator: #70b;
  --selector: #487b00;
  --url: #8d6640;
  --urlBg: hsla(0, 0%, 100%, .5);
  --boolean: #905;
  --atrule: #0075a8;
  --keyword: #0075a8;
  --function: #c93654;
  --regex: #860;
  --boxShadow: hsla(0,0%,0%,.3);
  --prism-background: #f5f2f0;

}


/* If the OS has dark mode set then... */
/* Change dark to light to test */

@media (prefers-color-scheme: dark) {
  html:not([data-theme="light"]) code[class*="language-"]:not([contenteditable]),
  html:not([data-theme="light"]) pre[class*="language-"] {
    --color: #6ae;
    --textShadow: #000;
    --comment: #9ab;
    --punctuation: #999;
    --property: #e70;
    --operator: #d7f;
    --selector: #8b2;
    --url: #cde;
    --urlBg: rgba(0,0,0,.5);
    --boolean: #a8f;
    --atrule: #f00;
    --keyword: #f00;
    --function: #f55;
    --regex: #f91;

    --boxShadow: #000;
    --prism-background: #f5f2f0;
  }
}


/* Manual switch mode - where implemented */
html[data-theme="dark"] code[class*="language-"]:not([contenteditable]),
html[data-theme="dark"] pre[class*="language-"] {

  /* Exactly the same as prefers-color-scheme: dark */
  --color: #6ae;
  --textShadow: #000;
  --comment: #9ab;
  --punctuation: #999;
  --property: #e70;
  --operator: #d7f;
  --selector: #8b2;
  --url: #cde;
  --urlBg: rgba(0,0,0,.5);
  --boolean: #8af;
  --atrule: #ffb;
  --keyword: #fe6;
  --function: #f55;
  --regex: #f91;
  --prism-background: #2a2a2a;
  --boxShadow: #000;

}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comment);
}
.token.punctuation {
  color: var(--punctuation);
}
.token.property,
.token.symbol,
.token.tag,
.token.constant,
.token.deleted {
  color: var(--property);
}
.token.boolean,
.token.number {
  color: var(--boolean);
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--selector);
}
.token.operator {
  color: var(--operator);
}
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string {
  color: var(--url);
  background-color: var(--urlBg);
}
.token.atrule,
.token.attr-value {
  color: var(--atrule);
}
.token.keyword {
  color: var(--keyword);
}
.token.function {
  color: var(--function);
}
.token.regex,
.token.important,
.token.variable {
  color: var(--regex);
}
:not(pre) > code {
  background: #f5f2f0;
  padding: 2px 0;
}
html[data-theme="dark"] :not(pre) > code {
  background-color: #2a2a2a;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--prism-background);
}


@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;

  }
}
